<h2><%= @recipe.name %></h2>

<ul>
  <li>
    <strong>Ingredients:</strong>
    <ul>
        <%= for ingredient <- @recipe.ingredients do %>
          <li><%= ingredient.name %></li>
        <% end %>
    </ul>
    <br />
  </li>

  <li>
    <strong>Steps:</strong>
    <%= @recipe.steps %>
  </li>
</ul>

<span><%= link "Edit", to: recipe_path(@conn, :edit, @recipe) %></span>
<span><%= link "Back", to: recipe_path(@conn, :index) %></span>
